TextFiles/DahlgrenChallengeLitRev.aux
TextFiles/DahlgrenChallengeLitRev.fdb_latexmk
TextFiles/DahlgrenChallengeLitRev.log
TextFiles/DahlgrenChallengeLitRev.synctex.gz
TextFiles/DahlgrenChallengeLitRev.fls
TextFiles/DahlgrenChallengeLitRev.bbl
TextFiles/DahlgrenChallengeLitRev.blg
/Code/Planner/config
/Code/Planner/Java
/Code/Planner/JCORE
/Code/Planner/libs
/Code/Planner/log
/Code/Planner/scripts
/Code/Planner/Example_Clients/JavaClient
/Code/Planner/Planner-3.0-jar-with-dependencies.jar
*.pyc
~$Planner_Instruction_Manual.pptx
