TextFiles/DahlgrenChallengeLitRev.aux
TextFiles/DahlgrenChallengeLitRev.fdb_latexmk
TextFiles/DahlgrenChallengeLitRev.log
TextFiles/DahlgrenChallengeLitRev.synctex.gz
TextFiles/DahlgrenChallengeLitRev.fls
TextFiles/DahlgrenChallengeLitRev.bbl
TextFiles/DahlgrenChallengeLitRev.blg
/Code/Planner/config
/Code/Planner/Java
/Code/Planner/JCORE
/Code/Planner/libs
/Code/Planner/log
/Code/Planner/scripts
/Code/Planner/Example_Clients/JavaClient
/Code/Planner/Planner-3.0-jar-with-dependencies.jar
/code/Planner_Environment/*
/Code/*.txt
*.pyc
~$Planner_Instruction_Manual.pptx
venv

# PyCharm files
/.idea/
/.idea/misc.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/.idea/WM_Dahlgren_Challenge.iml
/.idea/modules.xml
.idea/modules.xml

# local environment
navy_wta_env
navy_wta.tar*
/navy_wta/*

# VS Code
.vscode

WilliamAndMary.zip

# PyTorch
*.pt

log*.txt
