TextFiles/DahlgrenChallengeLitRev.aux
TextFiles/DahlgrenChallengeLitRev.fdb_latexmk
TextFiles/DahlgrenChallengeLitRev.log
TextFiles/DahlgrenChallengeLitRev.synctex.gz
TextFiles/DahlgrenChallengeLitRev.fls
